<% content_for :logo do %>
	<%= image_tag 'blog/anxiety_debt.gif', class: 'blog' %>
<% end %>
<% content_for :title do %>
	The Global Village
<% end %>

<h1>The Global Village</h1>
<span class="dateline">August 28, 2014</span>

<section class="body">
	<h2>War and Peace</h2> 
	<p>
		Like a lot of you reading this, I’ve spent the last few weeks watching Twitter simultaneously do what it does best and what it does
		worse. Unfortunately those are the same thing: Twitter gives a megaphone to anyone that will step up to it.
	</p>
	<p>
		You can't fault Twitter, though. The development of a platform like Twitter, I believe, was a foregone conclusion. “Everyone talks” 
		is an idea so obvious that it couldn't <i>not</i> be made as soon as the technology allowed for it.
	</p>
	<p>
		The problem then, is people.
	</p>
	<blockquote>
		Dialogue. The alternative to violence is dialogue, which is a kind of encounter interface with other people and situations. But yes,
		we live in a world in which we have so much power. In the old days you could fire, pull a trigger on a revolver and hurt people. But
		today when you trigger these vast media that we use, you are manipulating entire populations.
	</blockquote>
</section>


<%= render partial: 'shared/selected_list' %>