<% content_for :title do %>
	Curriculum Vitae
<% end %>

<h1>Curriculum Vitae</h1>

<section class="purpose">
	<h2>My Purpose</h2>
	<p>
		I have been lucky enough to build software that has helped inspire and improve the lives of many people. I want to keep doing so, surrounded with the best company possible. For me, right now, that means working with a team that has the talent, resources, and (sometimes foolhardy) determination to build grand ideas that keep humans in mind.
	</p>
</section>

<section class="body">
	<h2>RTO+P</h2>
	<p>
		I'm currently the <strong>Tech Lead</strong> at <a href="http://rtop.com">RTO+P</a>, a full-service creative advertising agency based in Philadelphia. I've been with the agency since May, 2010. In that time, I've helped multiply the company's digital business by producing quality work for Under Armour, FOX Networks, Planet Fitness, and many other clients. As Tech Lead, I manage and mentor a team of web developers and designers, and lend my know-how to the creative and strategy teams. My major efforts in the agency's digital practice have been to usher in the transition from Adobe Flash to HTML, and to establish Responsive Web Design as our design and development workflow-of-choice. In March 2013, I moved away from “HQ” in Philadelphia, and now work remotely from an office in downtown Manhattan.
	</p>
	<dl>
		<dt>Select RTO+P Work</dt>
			<dd><a href="http://planetoftriumphs.com">Planet Fitness: Planet of Triumphs; Social Network <span class="address">planetoftriumphs.com</span></a></dd>
			<dd><a href="http://fireflybff.com">Firefly Bracelets; Product Site <span class="address">fireflybff.com</span></a></dd>
			<dd><a href="http://redtettemer.com">RTO+P; Agency Website <span class="address">redtettemer.com</span></a></dd>
			<dd><a href="http://createcoolshit.com/">RTO+P Interactive Is Hiring; Website <span class="address">createcoolshit.com</span></a></dd>
	</dl>

	<h2>Cubist Media Group</h2>
	<p>
		In May, 2009 I started as a full-time <strong>Interactive Developer</strong> at <a href="http://cubistmediagroup.com/">Cubist Media Group</a> in Philadelphia. This followed two years of part-time work at Cubist
		during my Junior and Senior years at Drexel University. In addition to building websites, I authored DVD, HD-DVD and Blu-ray titles. Clients
		included ZeniMax Media, NFL Films, and GlaxoSmithKline.
	</p>
	<dl>
		<dt>Select Cubist Work</dt>
		<dd><a href="http://www.bluraybycubist.com/casestudies/case2/index.php">Fallout 3; Bonus Blu-ray Disc<span class="address">bluraybycubist.com</span></a></dd>			<dd><a href="http://www.bluraybycubist.com/casestudies/case1/index.php">Super Bowl XLII Highlights; Retail Blu-ray Disc<span class="address">bluraybycubist.com</span></a></dd>
	</dl>

	
	<h2>School</h2>
	<p>
		In 2005, I entered Drexel University in Philadelphia, PA. In 2009, I graduated with a B.S. in Digital Media. I studied with a focus on web design and development. I led my Senior Project team, which produced a social network for sharing and collaborating on choose-your-own-adventure stories called "Derivativ".
	</p>
	
	<h2>Otherwise</h2>
	<p>
		In 2012, I co-founded What Say Co. and designed a line of Horse_ebooks-inspired tees. We sold enough to break even and have a lot of fun in the meantime.
	</p>
	<p>
		I've worked as a founding developer for two (failed, sadly) startups, and I've done a handful of open source work. My most recent open source project is a simple tool for previewing responsive web development comps, called <%= link_to "Respre", blog_respre_path %>. 
	</p>
	
	<p>
		As a developer, I'm well-rounded. I count Ruby on Rails, HTML, CSS, JavaScript among my major skillsets. I'm a firm believer in web standards. I use SASS. I go easy on the jQuery. I am very comfortable on a command line.
	</p>
	<p>
		As a designer, I've been growing to love Sketch. I'm a Responsive Web Design acolyte. I emphasize simplicity in my personal design work.
	</p>
	<p>
		As a technologist, I'm skeptical, but I do try to remain optimistic. I'm a fan of Marshall MacLuhan, but I'm not as much of a tecnological determinist as he was. The best thing I read this year was Jaron Lanier's <u>You Are Not a Gadget</u>.
	</p>
	<p>
		As a coworker, I'm friendly, open and honest. I don't mind talking to clients or taking meetings. I enjoy teaching. I'm always in search of a greater efficiency.
	</p>

	<dl>
		<dt>Thanks, and feel free to reach out.</dt>
		<dd><a href="mailto:aaron.grando@gmail.com">Email <span class="address">aaron.grando@gmail.com</span></a></dd>
		<dd><a href="http://twitter.com/grrrando">Twitter <span class="address">@grrrando</span></a></dd>
		<dd><a href="https://github.com/aarongrando">Github <span class="address"></span></a></dd>
	</dl>
	
</section>
