<h1>I'm Aaron Grando.<br /> I'm a web designer &amp; developer.</h1>
<p>I'm a Brooklyn resident who will always have a heart for my hometown, Philadelphia. Me and my two cats - Greasy and Ellie - are all natives. Pretzels, Hoagies, Broad Street. Forever.</p>
<p>I'm currently Tech Lead at <a href="http://redtettemer.com">RTO+P</a>. Recently, I've been building websites that help people connect, create, and achieve greatness. It's a wonderful feeling.</p>
<p>In 2012, I created a line of <a href="http://twitter.com/horse_ebooks">equine-inspired</a> tee-shirts for my small apparel company, <a href="http://whatsay.co">What Say Co.</a></p>
<p>This year, I'm working on something that will help you communicate with your friends and coworkers. It's called <a href="http://crews.io/">Crews</a>, and it's coming this summer.</p>
<p>You can reach me on Twitter at <a href="http://twitter.com/grrrando">@grrrando</a>. I tend to talk about web development, music, cats, and wacky liberal agendas like gun control.</p>
<p>I've been writing on <a href="https://medium.com/@grrrando">Medium</a>; my posts are syndicated here.</p>

<div class="blog-container">
	<table class="blog-list">
	<% @rss.items.each_with_index do |item, index| %>
		<tr>
			<td>
				<h3><%= link_to item.title, item.link %></h3>
				<strong>Published</strong>
				<em><%= item.pubDate.strftime('%B %e, %Y') %></em>
				<p><%= Nokogiri::HTML(item.description).css('p.medium-feed-snippet').to_s.html_safe %></p>
			</td>
		</tr>
	<% end %>
	</table>
</div>
