<header>
	<h1>I'm Aaron Grando.<br /> I'm a web designer &amp; developer.</h1>
	<img src="/assets/yo.png" />
	<h2>I create websites that help people reach their goals.</h2>
</header>
<p>I'm currently the Tech Lead at <a href="http://redtettemer.com">Red Tettemer + Partners</a> in Philadelphia. Recently, I've been building websites that help people connect, create, and achieve greatness. It's a wonderful feeling.</p>
<p>I'm a soon-to-be NYC resident who will always have a heart for Philadelphia. Me and my two cats - Greasy and Ellie - are all natives. Pretzels. Hoagies. Broad Street. Forever love.</p>
<p>In 2012, I created a line of <a href="http://twitter.com/horse_ebooks">equine-inspired</a> tee-shirts for my small apparel company, <a href="http://whatsay.co">What Say Co.</a></p>
<p>You can reach me on Twitter at <a href="http://twitter.com/grrrando">@grrrando</a>. I tend to talk about web development, music, cats, and wacky liberal agendas like gun control.</p>