<% content_for :logo do %>
	<%= image_tag 'blog/anxiety_debt.gif', class: 'blog' %>
<% end %>
<% content_for :title do %>
	Anxiety Debt
<% end %>

<h1>Anxiety Debt</h1>
<span class="dateline">July 2, 2014</span>

<section class="purpose">
	<h2>Purpose</h2>
	<p>
		Social networks induce anxiety, we know this. It’s the the result of thousands of design decisions driven by other priorities,
		mainly user acquisition and advertising revenue. As networks continue to add features and as their users continue to grow their
		social graphs, it will get worse. I’m calling this snowball effect <em>Anxiety Debt</em>.
	</p>
</section>

<section class="body">
	<h2>Building Blocks</h2> 
	<p>
		All modern social networks are put together from a few familiar building blocks. Rearrange and tweak the properties of these and you
		get Facebook, Twitter, LinkedIn, Tumblr, Reddit, and so on.
	</p>
	
	<ol>
		<li><strong>People</strong> post broadcasts and establish relationships with other people.</li>
		<li><strong>Broadcasts</strong> are the juicy stuff that people come back for – photos, videos, events, status updates, etc.</li>
		<li><strong>Feeds</strong> show broadcasts posted by people related to the person, sorted in some way.</li>
		<li><strong>Boops</strong> are minimum-effort interactions like “Fav”, “Like”, and “Love”.</li>
		<li><strong>Relationships</strong> link people to one another, providing context for broadcasts.</li>
		<li><strong>Messages</strong> are the individual units of communication, posted in person-to-person or person-to-broadcast contexts.</li>
	</ol>
	
	<h2>Anxiety</h2>
	<p>
		These building blocks, on their own, don’t cause anxiety. They can exist and work harmoniously in a system built and maintained
		keeping people’s best interests in mind. When they’re applied at massive, notably un-human scales, though, problems start to arise.
		Massive, un-human scale is exactly what the big networks are chasing.
	</p>
	
	<ol>
		<li>
			<strong>Being connected to too many other people</strong> decreases the feeling of personal connection through the network, and
			forces the network to make often-incorrect assumptions about relationships with many people. That’s a problem because...
		</li> 
		<li>
			<strong>Poorly or invisibly defined relationships increase the chances that important content will be missed</strong>. Facebook’s
			infamous News Feed algorithm is particularly guilty of invisibly prioritizing content; Facebook tries to infer 
			relationships by who gets interacted with the most, and prioritizes content from that. But interaction is not necessarily a
			reliable measure of interest, and it depends on content being visible to interact with in the first place. 
			The rest of everything gets buried; the News Feed algorithm 
			“<a href="http://www.theguardian.com/technology/2014/jun/30/facebook-news-feed-filters-emotion-study">boils down the 1,500
			posts that could be shown a day in the average news feed into around 300 that it ‘prioritises’.</a>”
		</li>
		<li>
			On the other hand, <strong>chronological feeds discourage conversation after-the-fact</strong>. Ever get a reply on Twitter
			hours after your original tweet? It’s kind of awkward. This is one of the reasons you check your Twitter feed every few
			minutes, all day long. And the more people you follow, the harder it is to keep up.
		</li>
		<li>
			Along the same lines, <strong>real-time communication is not just encouraged, it’s enforced</strong> by read-reciepts, “online”
			statuses, and notifications that hit people from every angle. This is done to push and keep people online, which helps generate
			ad revenue. All these “features” do not respect the context of anyone’s life. Instead, they interrupt and inject. 
		</li>
		<li>
			<strong>Broadcast-style sharing forces everyone to consider what information they share to every single person in their
			network.</strong> Broadcasts are the emphasized form of communication on all the big networks.
			The potential for negative feedback or consequences increases as an individual’s social network grows.
		</li>
		<li>
			<strong>Permanence is not a natural part of communication</strong>, but the big networks keep a permanent record of everything
			everyone has put on them. Each photo, comment, and “like” builds up into a years-old ball of stress. Even worse, if a photo or
			video of a person was posted by someone else, they’re not able to control whether or not it continues to broadcast – all anyone
			can do is “untag” themselves to unlink to their profile from that content; meanwhile, the content remains.
		</li>
		<li>
			<strong>Pressure to post conforming, positive content is exerted by public displays of likes</strong>, loves,
			favs, and upvote counts. Content that doesn’t align with expectations is not granted these nods of approval.
			Without a framework for private criticism and feedback, a lack of these “boops” is the worst response a person can possibly
			receive to their content. This especially matters when sensitive or emotional content is posted and “ignored”, for lack of
			a better interaction.
		</li>
	</ol>

	<p>
		I believe that most of these cases weren’t designed to induce anxiety. Instead, I think the anxiety generated by today’s networks
		is a side-effect of prioritizing new features and growth, without considering the effects they might have on people’s mental health. 
	</p>
	
	<h2>Debt</h2>
	
	<p>
		In programmer-speak, the term “technical debt” refers to code which is poorly architected or designed. If left
		uncorrected, the indebted code will speed up the <a href="http://en.wikipedia.org/wiki/Software_entropy">entropy</a> of the
		codebase. From there, the code becomes difficult, painful, and eventually impossible to work with.
	</p>
	
	<p>
		<em>Anxiety debt</em> is the consequence of design in a system that does not prioritize user happiness. As the system grows in
		complexity, if the anxiety debt is left uncorrected, the potential for anxiety in the system’s users increases. Eventually,
		I think, people will become stressed to the point of abandoning the system.
	</p>
	
	<p>
		If you’re designing a system today, you should consider the anxiety debt that your features may incur. I don’t believe that the big
		networks will do anything at all to help their users with anxiety; it’s such a powerful force, which, in many cases, is working in
		their favor. But I do think a new class of apps and services which carry a lower anxiety debt will soon become more
		prominent. Social apps that focus on anonymity and content ephemerality, like Secret and Snapchat are the first wave.
	</p>
	
	<p>
		I like the “<a href="http://jackcheng.com/the-slow-web">slow web</a>” approach; it deals smartly with many of the issues I raise
		above. I’m cooking up a few slow-webby ideas myself, which is what originally drew me to consider all the points above. 
		More on those ideas at a later date. 
	</p>
	
	<p>
		For now, I wish you happy and healthy internetting. The surf is choppy, so please mind yourself until we figure out how to make things
		better.
	</p>
	
</section>


<%= render partial: 'shared/selected_list' %>