<% content_for :logo do %>
	<%= image_tag 'blog/fall.jpg', class: 'blog' %>
<% end %>


<h1>Engineers and Advertising</h1>
<span class="dateline">November 17, 2013</span>

<section class="body">

	<p>
		Plenty has been said about why working in the advertising industry sucks. And much of it is true. Campaigns are often purposefully geared towards a lowest common denominator. Success is frequently judged by twisty-turny metrics that don’t immediately (and may never) make logical sense. Deadlines will be driven by forces outside of the agency’s control. Goals can shift about like an uncomfortable sophomore at homecoming. And, if you’re an engineer, there’s a good chance that nobody you work with knows what the hell you do.
	</p>
	
	<p>
		But that’s ok. Because while all of the above can be sometimes painfully true, there is a crazy silver lining running through the business: When good people and advertising meet, great things can happen.
	</p>
	
	<div class="divider"></div>
	
	<p>
		The common thread that runs through every engineer I’ve had the pleasure of meeting is that they’re out to make a difference. Engineers aren’t people who sit down and let the world happen around them. Their brains are tuned to improve: if something’s broken, they fix it; if something should exist, they build it. They’re a force of progress, and progress is good. Some think big, some think small, but just about every one of them wants to build something that will help people.
	</p>
	
	<div class="divider"></div>
	
	<p>
		What many people, engineers included, don’t consider when they think about advertising is that every campaign is a blank canvas. Sure, the vast majority of campaigns begin as capitalistic goals — sell more, increase exposure, defeat competition — but as they’re formed into executable ideas, they’re tinted with the goals of the people that are involved in creating them.
	</p>
	
	<div class="divider"></div>
	
	<p>
		If you’re a great engineer and you join an advertising agency, your potential is limitless. If you’re at a great agency (like I am, to brag), you’ll be included in every level of conversation and you will have influence. You will be, by professional default (not to brag, this time), one of the smartest people in the organization. And as an engineer, you’ll also be one of the most empathetic. You can make the campaigns you work on do the good work you want them to do. You just have to put the effort in.
	</p>
	
	<p>
		The great news is that your resources will be incredible: You’ll be surrounded by a set of creative geniuses whose job it is to bring the ideas you influence to life. You’ll have money to spend, usually lots. You can have the freedom to work how you want to work, so long as the job gets done.
	</p>
	
	<div class="divider"></div>
	
	<p>
		Influence, creativity, freedom, a blank slate. And good people.
	</p>
	
	<p>
		That’s the recipe for goodness. If you’re an engineer, think about it.
	</p>
</section>


<%= render partial: 'shared/blog_list' %>
