<% content_for :logo do %>
	<%= image_tag 'blog/fall.jpg', class: 'blog' %>
<% end %>
<% content_for :title do %>
	Fall
<% end %>

<h1>Fall</h1>
<span class="dateline">November 17, 2013</span>

<section class="body">

	<p>
		The weather is changing again. Or, trying to change, at least. Right now it’s 63 degrees out, with thunderstoms on the
		forecast — not exactly seasonal for the second half of November. A couple days ago it snowed, for just a few un-sticky
		minutes, but it was powdery and it came from the sky in a little blizzard that whited out my apartment window’s view of
		the city skyline. Later this week it looks like it’ll be beautifully sunny on the same day that we might see the first
		frost.
	</p>
	
	<p>
		I love the Fall. It’s the best season. It kicks me out of my air-conditioned summer hibernation. I’m able to go outside
		without melting, which is a good thing. Food thought shifts from fresh avocados to cast-iron cooked brussel sprouts.
		Fuck yes brussel sprouts.
	</p>
	
	<p>
		The changing colors and the back-and-forth swinging climate do something to my creative drive that’s pretty
		spectacular. Just about every day for the last two weeks I’ve sold myself on a new idea of something to build or make,
		and most of the ideas are out of my comfort zone.
	</p>
	
	<p>
		I know that I won’t get to working on the vast majority of these ideas, but I’m greatly enjoying the thought
		experimentation. It’s sort of like how “they say” that just thinking about traveling will make you a happier than if
		you actually traveled. Which I believe is complete bullshit but makes for an apt analogy in this very narrow case.
	</p>
	
	<p>
		Bullshit aside, just thinking about these ideas is giving me so much motivation fuel for working on my current hobby project.
		Earlier this year I talked about Finishing it. I noticed my cyclical bursts of passion. I think I’m understanding the
		cycle a bit more now and how closely it’s tied to simple creative thinking and exploration.
	</p>
	
	<p>
		The bouts of passion had been cyclical because I didn’t exert myself to break the cycle. Summer was a wash — I didn’t
		work hard enough to think creatively or become inspired. I kept myself inside, at my office or my apartment. I got
		caught up in work during the day and switched myself off in the evenings. I was definitely suffering a bit of sensory
		overload from being a new resident in a gigantic city. Thinking wasn’t a priority.
	</p>
	
	<p>
		Now, with Fall here, I’m outside. I’m being stimulated and inspired without even trying. That’s why Fall is so great to
		me. But, quite naturally, it won’t last much longer.
	</p>
	
	<p>
		Winter is coming, and with it, I’ll need to keep pushing myself to stay creative. I’ll have to push myself out of my
		private comfort zone more than I naturally would want to. I’ll have to work harder to find myself opportunities to be
		inspired. And I’ll have to be willing to get a little lucky with it.
	</p>
	
	<p>
		Might be a little cliché, but this passage from E.B. White’s essay Here Is New York has been on my mind for a while:
	</p>
	
	<blockquote>
		On any person who desires such queer prizes, New York will bestow the gift of loneliness and the gift of privacy. It is
		this largess that accounts for the presence within the city’s walls of a considerable section of the population; for
		the residents of Manhattan are to a large extent strangers who have pulled up stakes somewhere and come to town,
		seeking sanctuary or fulfillment or some greater or lesser grail. The capacity to make such dubious gifts is a
		mysterious quality of New York. It can destroy an individual, or it can fulfill him, depending a good deal on luck. No
		one should come to New York to live unless he is willing to be lucky.
	</blockquote>
	
</section>


<%= render partial: 'shared/blog_list' %>
