<% content_for :logo do %>
	<%= image_tag 'blog/final-boss.jpg', class: 'blog' %>
<% end %>
<% content_for :title do %>
	Do It For Who?
<% end %>

<h1>Eating Your Own Final Boss</h1>
<span class="dateline">May 11, 2014</span>

<section class="purpose">
	<h2>Purpose</h2>
	<p>
		I&rsquo;ve been thinking a lot about why someone creates a video game, and contrasting that with why someone creates
		an app. The much-repeated Valley-ism, &ldquo;Build something you want to use,&rdquo; starts to fall
		apart when it gets applied to games, so what&rsquo;s the motivation? I don&rsquo;t pretend to have an answer to
		the question quite yet.
	</p>
</section>

<section class="body">
	<h2>Something Missing</h2>
	<p>
		There&rsquo;s a hole in my heart right now, and the only thing that can fill it is <em>the most perfect video game
		that has never been created and is super specifically tailored exclusively to me, my life, my expectations, and
		my preferences.</em> The technologist in me is saying &ldquo;you can build that experience&rdquo;, but I worry that by
		creating it, I will destroy my ability to enjoy it.
	</p>
	<p>
		What do the people who work on games feel when after their game is published? Do Nintendo&rsquo;s engineers head home
		to relax and play some of the new Super Mario? Have they already, throughout the development of the game, played it to
		Hell and back, and despise it? Do they notice every actually-unnoticeable quirk, and does it kill the
		experience for them?
	</p>
	<p>
		If they know the story, the twists, the optimal way to build your character, the best strategy to get through the
		hardest part, the most interesting level in the game, the coolest boss, the end, the alternate end, the secret
		area that only you as a dev know how to get to...if they know everything, is it fun?
	</p>
	<p>
		It&rsquo;s hard to imagine that, to its designer, any game fulfills its intention (fun, fear, education, whatever).
		But it has to, right? Or, at least, it should. If it doesn&rsquo;t, it&rsquo;s defeating - why (or how) do you
		create a fun experience without experiencing the fun you are creating? Is the designer&rsquo;s reward supposed to be the
		creation of the experience? I hope not; that sounds like a cop-out.
	</p>
	<p>
		In the tech industry, the common wisdom goes, &ldquo;Build something you, yourself, want to use&rdquo;. That&rsquo;s
		fair enough. It&rsquo;s pretty easy to swallow if you&rsquo;re talking about the utilitarian, functional stuff most of us
		web people work on every day. Actively using what you build has a whole bunch of benefits. Entertainment, the
		purpose of a game, is usually not one of those benefits. I&rsquo;d actually be pretty afraid of being entertained
		by utilitarian code I wrote.
	</p>
	<p>
		It does feel like the user and the player are the same person. But, related to their creations, the game
		designer peg and the web designer peg don&rsquo;t fit into similarly-shaped holes. There is a weird crossover of skills
		and technology, where a lot of what goes <em>in</em> is more-or-less the same, but what comes <em>out</em> is
		pretty damn different. There&rsquo;s clearly a lot happening between that I still have to learn.
	</p>
	<p>
		I&rsquo;m working on a game. It&rsquo;s real, real early – way to early to say anything more about it because I&rsquo;m sure it&rsquo;ll
		change shape a hundred times before I&rsquo;m ready to actually talk about it. Right now, it&rsquo;s not the epic,
		super-personalized ideal that I&rsquo;m really craving, but I&rsquo;m hoping it turns out fun for anyone that plays it.
		Including me.
	</p>
</section>

<%= render partial: 'shared/blog_list' %>
