<% content_for :logo do %>
	<%= image_tag 'blog/final-boss.jpg', class: 'blog' %>
<% end %>
<% content_for :title do %>
	Do It For Who?
<% end %>

<h1>Eating Your Own Final Boss</h1>
<span class="dateline">May 11, 2014</span>

<section class="purpose">
	<h2>Purpose</h2>
	<p>
		I&rsquo;ve been thinking a lot about why someone creates a video game, and contrasting that with why someone creates
		an app. The much-repeated Valley-ism, &ldquo;Build something you want to use,&rdquo; starts to fall
		apart when it gets applied to games, so what&rsquo;s the motivation? I don&rsquo;t pretend to have an answer to
		the question quite yet.
	</p>
</section>

<section class="body">
	<h2>Something Missing</h2>
	<p>
		There&rsquo;s a hole in my heart right now, and the only thing that can fill it is <em>the most perfect video game
		that has never been created and is super specifically tailored exclusively to me, my life, my expectations, and
		my preferences.</em> The technologist in me is saying &ldquo;you can build that experience&rdquo;, but I worry that by
		creating it, I will destroy my ability to enjoy it.
	</p>
	<p>
		What do the people who work on games feel when after their game is released? Do Nintendo&rsquo;s engineers head home
		to relax and play some of the new Super Mario? Have they already, throughout the development of the game, played it to
		Hell and back, and despise it? Do they notice every unnoticeable quirk, and does it kill the
		experience for them?
	</p>
	<p>
		If they know the story, the twists, the optimal way to build their character, the best strategy to get through
		the hardest part, the most interesting level in the game, the coolest boss, the end, the alternate end, the secret
		area that only they, as the developer, know how to get to...if they know everything, is it fun?
	</p>
	<p>
		It’s hard to imagine that, to its designer, any game fulfills its design goals (whether that is fun, fear,
		education, whatever). But it has to, right? Or, at least, it should. If it doesn’t, it’s defeating - why (or how) do
		you create a fun experience without experiencing the fun you are creating? Is the designer’s reward supposed to be
		the creation of the experience? I hope not; that sounds like a cop-out.
	</p>
	<p>
		In the tech industry, the common wisdom goes, “Build something you, yourself, want to use”. That’s fair enough.
		It’s pretty easy to swallow if you’re talking about the utilitarian, functional stuff most of us web people work on
		every day. Using what you build has a whole bunch of benefits. Entertainment, the purpose of a game, is usually not
		one of those benefits. I’d actually be pretty afraid of being entertained by utilitarian code I wrote.
	</p>
	<p>
		It does feel like the user and the player are the same person. But, related to their product, the game designer
		peg and the web designer peg don’t fit into similarly-shaped holes. Their skills and technology have a weird
		crossover–what goes <em>in</em> is more-or-less the same. But what comes <em>out</em> is pretty damn different. There’s clearly a lot
		happening between that I still have to learn.
	</p>
</section>

<%= render partial: 'shared/blog_list' %>
