<% content_for :logo do %>
	<%= image_tag 'blog/finishing.jpg', class: 'blog' %>
<% end %>
<% content_for :title do %>
	Finishing
<% end %>

<h1>Finishing</h1>
<span class="dateline">May 31, 2013</span>

<section class="body">

	<p>
		The codebase is sitting here on my machine, and the rendered pages are unseen by everyone except for a few of my closest – my girlfriend, my best friends, and a couple of coworkers I’ve enthusiastically invited to participate in an early beta. It’s my side project. It’s not done. I don’t know when I’m going to finish it. I don’t know if I want to finish it. 
	</p>
	
	<p>
		This cycle seems to repeat itself two or three times a year. I get the spark, and I’m <em>off</em>. I design and code until I can’t any more. My mind races, the thinking never stops. It preempts thinking about my (very awesome, and mindshare-intense) full-time job’s responsibilities. The thought of what problems <em>could</em> be solved is an addiction, and the only fix is working. So I worked.
	</p>
	
	<p>
		And, eventually, I thought it was good. So I put live what a lot of people would call an “MVP”. (Though I don’t really believe in the MVP concept, I thought it was good to invite some people to play and give some feedback). 
	</p>
	
	<p>
		There’s was some usage, though it was nothing exciting and it was nothing like what I had wanted. I don’t know what I expected. The feedback was useful, but it was almost unwelcome – at that point, I thought, “these ideas aren’t mine”. Releasing something minimally viable wound up discouraging me more than if I had just kept it to myself. I was done, but not finished. The code sat for weeks, the spark was lost. 
	</p>
	
	<p>
		Then, fireworks. A discussion with a friend lead directly to the “big idea” I didn’t have in the early stage of the project. Over a weekend, a complete redesign emerged. Is redesigning a way of reclaiming what I never actually lost? I changed the name and paid another $55 domain fee, the third time I’d done so for this project. I plotted the roadmap, and the cycle began again. I coded, I didn’t stop. I thought about it because I couldn’t not think about. I was back on it.
	</p>
	
	<p>
		Now, it sits in front of me (well, behind this story that I’m writing now) 90% done, and I’m feeling those fireworks start to fade. Why does it happen? What is so hard about that last 10%? I have no problem getting my “work” done – but this is personal. This project <em>is</em> me, it’s not a “startup” or a “business”. Where does my passion go when channeling it should be at its easiest?
	</p>
	
	<p>
		Maybe it’s the addiction - the rush of solving, getting most of the way there. The real payoffs: a launch; some extra monthly cash; a little recognition; and most of all, a finished product – things you <strong>should</strong> look forward to – aren’t inspiring me in the same way.
	</p>
	
	<p>
		But fuck that: I need to get the hell over myself, push through, and finish. And I think I really will, this time. The first step is admitting you have a problem, right?
	</p>
	
</section>


<%= render partial: 'shared/blog_list' %>
