<div itemscope itemtype="http://data-vocabulary.org/Person">
	<h1>All Blog Posts</h1>
	<p>
		Below is a comprehensive list of all my blog posts since mid-2013. I encourage you to discuss any of these posts with me by sending a <%= mail_to "aaron.grando@gmail.com", "personal note", encode: :javascript %> or reaching out on <a href="http://twitter.com/grrrando" target="_blank">Twitter</a>. Thanks for reading!

	</p>
</div>
<%= render partial: 'shared/blog_list' %>
