<% content_for :logo do %>
	<%= image_tag 'blog/job-openings.jpg', class: 'blog' %>
<% end %>


<h1>What Ad Agencies' Job Openings Are Really Saying</h1>
<span class="dateline">June 19, 2013</span>

<section class="body">

	<p>
		<strong>Creative Director, Design</strong> — Our art directors are too jaded to talk to clients.
	</p>
	<p>
		<strong>Creative Director, Copy</strong> — Our copywriters are too tired to lead.
	</p>
	<p>
		<strong>Copywriter</strong> — We need you’re help.
	</p>
	<p>
		<strong>Art Director</strong> — We just burned out someone like you.
	</p>
	<p>
		<strong>Account Manager</strong> — We just fired someone like you.
	</p>
	<p>
		<strong>Senior Account Manager</strong> — Someone like you just left to start “their own thing”.
	</p>
	<p>
		<strong>Biz Dev</strong> — We killed all of our client relationships dead.
	</p>
	<p>
		<strong>Community Manager</strong> — We’re at least savvy enough to not mention “Social Media” in a job title.
	</p>
	<p>
		<strong>Social Media Manager</strong> — We also talk about SEO.
	</p>
	<p>
		<strong>Digital Strategist</strong> — The partners know nothing about computers.
	</p>
	<p>
		<strong>Digital Producer</strong> — The account team knows nothing about computers.
	</p>
	<p>
		<strong>Interactive Designer</strong> — The creative team knows nothing about computers.
	</p>
	<p>
		<strong>HTML5 Developer</strong> — Nobody here knows anything about computers.
	</p>
	<p>
		<strong>Flash Developer</strong> — We forgot to update our job listings. Since 2009.
	</p>
	<p>
		<strong>Lead Developer</strong> — The development team is mostly college kids.
	</p>
	<p>
		<strong>Front-end Developer</strong> — Our engineers hate our creative team.
	</p>
	<p>
		<strong>Engineer</strong> — We’re building innovative applications. On Facebook.
	</p>
	<p>
		<strong>Full-stack Developer</strong> — Someone here reads Hacker News.
	</p>
	<p>
		<strong>Content Strategist</strong> — Someone here reads A List Apart.
	</p>
	<p>
		<strong>UX Director</strong> — Someone here read Don’t Make Me Think.
	</p>
	<p>
		<strong>Producer</strong> — We love TV.
	</p>
	<p>
		<strong>Senior Editor</strong> — We love Vimeo.
	</p>
	<p>
		<strong>Junior Editor</strong> — We love Youtube.
	</p>
	<p>
		<strong>Project Manager</strong> — We need a common enemy to keep things running smoothly around here.
	</p>
	<p>
		<strong>Office Manager</strong> — We need a babysitter.
	</p>
	<p>
		<strong>Intern</strong> — We need this place to look full when clients come around.
	</p>
	<p>
		This is a pretty obvious satire, but looking at other agencies’ job listings has become a sort of pastime of mine. Imagining the internal shenanigans that led to a their search is great fun.
	</p>
	<p>
		Thankfully, when I’ve had to put listings out there, it’s always been “there’s too much damn work”, a good problem to have, and nothing nearly as sinister or desperate as the above.
	</p>
	<p>
		So, speaking of which: <%= link_to "We’re hiring.", "http://createcoolshit.com" %>
	</p>
	
</section>


<%= render partial: 'shared/blog_list' %>
