<header>
	<img src="/assets/blog/heroku.png" />
	<h1>You're "Making" It Worse<br /></h1>
</header>

<section>
	<h3>Purpose</h3>
	<p>
		The push for complex apps by companies that don't know any better is making life notably worse for everyone. And
		to an extent, we (web designer, developers, startup people, ad people, etc.) are to blame.
	</p>
</section>

<section>
	
</section>

<section>
	<h3>Thanks for reading.</h3>
	<p>
		[ Farewell text ]
	</p>
	<dl>
		<dt>Happy building.</dt>
		<dd><a href="http://grrrando.com/">Me, Aaron Grando <span class="address">grrrando.com</span></a></dd>
		<dd><a href="http://twitter.com/grrrando">Ask me a question on Twitter <span class="address">@grrrando</span></a></dd>
	</dl>
</section>
