<% content_for :blog_header do %>
	<figure>
		<%= image_tag 'blog_headers/test.jpg' %>
		<figcaption>Illustration by <a href="http://kellybraun.com">Kelly Braun</a></figcaption>
	</figure>
<% end %>
<% content_for :title do %>
	Things I Like
<% end %>

<h1>June 9, 2057</h1>
<span class="dateline">January 16, 2014</span>

<section class="body">
	<p>
		I am blind. Not fully blind, but functionally and practically. Everything my eyes see is like the blur of peripheral vision. No real resolution, just shifting shapes and color. Thank God for the colors.
	</p>
	<p>
		I'm celebrating my 70th birthday. Today's date is June 9, 2057. We're gathered around the dining table, it's a good time. There's wine and cake. My family and friends are with me. Thank God for them.
	</p>
<!-- 	<p>
		It's 7:17pm, and the sun just finished setting. It's the earliest birthday sunset I've ever experienced. Last year, the final "daylight savings time" happened. I barely noticed it. But I'm thankful for not having to lose that hour of sleep this past March.
	</p> -->
	<p>
		I'm looking through an old box of photos with everyone. I can't see the prints directly, through my blindness, but as photos are ID'd by my Augment, the photos resolve perfectly into my field of view. Everything around them is still all-naturally fuzzy. 
	</p>	
	<p>
		When my granddaugter speaks I can't see her lips move, but I know what her face looks like because I see her photo in my Augmented vision. 
	</p>
	<p>
		Through the Augment I see the present through the lens of the past. It's a strange reversal. My memories - at least the ones I was fortunate enough to capture – are now genuinely clearer than my vision. 
	</p>
</section>


<%= render partial: 'shared/selected_list' %>