<% content_for :logo do %>
	<div class="video-position">
		<video id="mirror-video"></video>
		<canvas id="mirror-canvas" class="blog"></canvas>
	</div>
<% end %>
<% content_for :title do %>
	The Internet is a Mirror
<% end %>

<h1>The Internet is a Mirror</h1>
<span class="dateline">May 13, 2014</span>

<section class="body">
	
	<p class="headless">
		I&rsquo;ve been feeling pretty down about the internet. Recently I&rsquo;ve been finding myself in irritating
		situations online: engaging in (or even just <em>considering</em> engaging in) pointless arguments, drinking down gossip,
		and getting overwhelmed with anxiety – feeling like it&rsquo;s just <em>too much</em>. The internet was all bullshit,
		I thought, and made me pretty angry. I used to love, even savor, just spending time online. Now I hate it. As a 
		web professional this is a bad thing, and I&rsquo;m struggling with it.
	</p>
	<p>
		But, just tonight, I am realizing that it&rsquo;s not the internet&rsquo;s fault. It&rsquo;s me. 
	</p>
	<p>
		The internet is so god damned big. It&rsquo;s not something you can hate or get mad at. It&rsquo;s like saying, &ldquo;I hate the
		world.&rdquo; Which is like, <em>O.K. dude, sure.</em> Really, if I&rsquo;m getting annoyed by the internet, it&rsquo;s because <em>I&rsquo;m</em>
		putting myself in situations in which I get annoyed. If I&rsquo;m getting anxious, it&rsquo;s because
		<em>I&rsquo;m</em> spending my time and sanity on stressful experiences. 
	</p>
	<p>
		Surely it&rsquo;s no coincidence that my internet fatigue began shortly after I moved to New York, away from 
		my hometown, Philadelphia. Leaving my family, friends and office brought on a serious depression that I&rsquo;m only
		now starting to get over. And that&rsquo;s giving me a little bit of clarity. The internet that I hate is actually
		a reflection of the depression and my thoughts about myself, and not representative of the whole of the thing.
	</p>
</section>


<%= render partial: 'shared/selected_list' %>
