<% content_for :logo do %>
	<%= image_tag 'blog/muybridge.gif', class: 'blog' %>
<% end %>
<% content_for :title do %>
	Answers to Alisha Miranda’s Questions on Growth
<% end %>

<h1>Answers to Alisha Miranda’s Questions on Growth</h1>
<span class="dateline">May 29, 2014</span>

<section class="purpose">
	<h2>Purpose</h2>
	<p>
		On Tuesday <a href="https://twitter.com/makeshiftalisha">Alisha Miranda</a> posted a 
		<a href="http://alishainthebiz.tumblr.com/post/87057583965/questions-on-growth">good set of observations and questions</a> about 
		keeping yourself from burning out at work, approaching her 1-year anniversary at her current job. She wrote about lots of stuff I’ve
		felt at times (and, often, several times): questioning roles, process and reasons to stick around. I just celebrated my 4-year anniversary 
		at RTO+P, so I thought responding to the Alisha’s questions might be helpful to her or anyone else wondering how to deal with
		long-term employment these days.
	</p>
</section>

<section class="body">
	
	<blockquote>
		<strong>Question: </strong>How do you conquer the speed vs. efficiency challenge at work? Today’s digital-centric career calls for creative ideation and
		execution at an insanely rapid speed — from client responses to project deadlines, I’m having a really hard time finding a balance of
		producing quality work at shorter timeframes. How can we better manage these expectations?
	</blockquote>
	
	<p>
		It’s not really speed vs. efficiency; speed and efficiency go hand-in-hand. The challenge as you mention is quality work in a short
		period of time. The answer to “How do I do good work fast?” is pretty simple: <strong>buckle down, 
		<%= link_to "remove your distractions", blog_productivity_path %>, sip some iced coffee, and get it done. </strong>
	</p>
	<p>
		But that’s only half of the equation. The other half comes before you even start working. If you know a deliverable is too quick, 
		say so. Ask why the deadline is set like it is; sometimes you can find some wiggle room. Most timelines are created as ideals, not
		as realities. Try to affect them before the client sees them. Later on, client feedback periods can be used strategically to get
		a bit more time occasionally, but don’t abuse that trick. Remember that it’s usually worse to release crappy work
		than to release it a little behind schedule.
	</p>
	<p>
		Make sure you’re honest about your estimations and 
		concerns. <strong>Trust</strong>, which is hugely important for working out human-friendly timelines, comes from setting and meeting 
		expectations repeatedly. With trust, people will understand that when you say something takes <em>X</em> days, it actually takes
		<em>X</em> days, not <em>X-1</em> or <em>X-2</em> days, or worse.
	</p>
	<p>
		<strong>Experience</strong> is easy to write off, especially as a young person without much (I’m talking about me). 
		But, it’s really the X-factor. You get better at your job over time, and the things you’re working on now will get easier as you
		get more experienced. The work will make more sense, your relationships with coworkers will become friendlier and more fluid. 
		You will become part of the agency and the agency will become part of you.
	</p>
	
	<blockquote>
		<strong>Question: </strong>What are your favorite examples of great office/work culture? What do you look for in a team? Do any
		companies stand out? How can us “little people” (i.e. low/mid-level employees) shape better culture in our own offices?
	</blockquote>
	
	<p>
		Culture is a weird subject because it means something different to everyone. To me, it’s the air of the place. It’s how things
		get done, how you feel when you get in, leave, and stay late. And it’s the shared history that you and your team mates are
		contributing to.
	</p>
	
	<p>
		I think RTO+P has great office culture, but I might be a little biased. It starts with 
		a list that everyone at the agency knows well, the “trailblazers”.
	</p>
	<%= image_tag "blog/questions/trailblazers.gif" %>
		
	</blockquote>
	
	<p>
		They serve as our ten commandments. They’ve been around forever. You first read them on your offer letter, so you know what you’re
		getting into. You see and hear them almost every day. They set the limits (or the lack thereof) and expectations of everyone in the
		agency at the same level, which is pretty awesome.
	</p>
	<p>
		That said, the trailblazers would be nothing without the people. The combined residue of 20-ish years of wonderful weirdos working
		in the agency walls really <em>is</em> the culture. To protect the people in the agency, we have a standing “no shitheads” policy. 
		We’re lucky to not have corporate masters or shareholders to keep us from writing “no shitheads” on our website. There’s definitely 
		an RTO+P <em>way</em> of doing things that’s a little different than anywhere, with anyone, else. We stick up for one another, and the
		agency, fiercely. That’s our culture.
	</p>
	
	<p>
		I’ve learned lots from, and greatly admire, the bits of Basecamp’s culture that are documented in their books 
		<a href="http://www.amazon.com/gp/product/0307463745/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0307463745&linkCode=as2&tag=altifier-20&linkId=BQ5CEZHXYZOOFBZW">Rework</a> 
		and 
		<a href="http://www.amazon.com/gp/product/0804137501/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0804137501&linkCode=as2&tag=altifier-20&linkId=7H77BSZ5LITVPECE">Remote</a>.
		Both are excellent reads. And Basecamp hasn’t just fostered their own culture: they created entire collaboration and coding cultures 
		with Basecamp (the app) and Ruby on Rails, which both extend far beyond their own walls.
	</p>
	
	<p>
		About the little people. I think in a healthy organization, they need to <em>be</em> the culture. The senior folks help by setting
		the example and passing on the history, but they shouldn’t be the centerpiece. There’s ideally some hands-off-ism. Culture happens,
		it’s not created or molded. It’s the day-to-day feeling of things, not teambuilding exercises or company
		retreats or happy hours. <strong>The best thing anyone at any level can do for their company’s culture is to be a good, open, honest person.</strong> 
	</p>
	
	<blockquote>
		How do you hide your personal attitudes in the workplace? If/when you find yourself in disagreement with a coworker or client about
		something, how do you (literally) save face? I always joke and call myself the ”Larry David” of the office because I can’t fake nice and
		can’t hide my emotions. However, this is not good for professional development. What practical tips do you use in the workplace to get
		through these situations?
	</blockquote>
	
	<p>
		Don’t hide your opinions – that’s a recipe for resentment. I’ve found that if I’m fighting for a point, I’ve got
		a good reason to. When I was younger, I didn’t speak up as much, and the work suffered for it. You’ve been hired for your
		expertise, which your opinions are part of, and you should speak up if you’ve got thoughts.
	</p>
	<p>
		It gets tricky if your opinions extend into attitudes and emotions. At work, don’t make it or take it personal. No shitheads, remember. 
		Professional disagreements and head-butting happen, but that’s how work gets done. 
	</p>
	<p>
		On that note, you might find that the people who initially rub you the wrong way are actually pretty awesome. An example from my own 
		experience: one of my very first clients at RTO+P was very intense. He’d spend days on end in the agency office, over-the-shoulder 
		coding (non-programmer, of course), giving constant feedback, and generally being the nightmare client we all fear. It was irritating. 
		I almost quit. I didn’t. Fast-forward to now. He left his job, joined our agency, and he’s been my work-BFF for a few years. He was 
		just trying to get his work done, and I was just trying to get my work done. We kept it cool, and the rest is history. Agency life 
		can be unexpectedly awesome. 
	</p>
	<blockquote>
		What’s the key to longevity at a company? As I mentioned before, I seem to grow out of my honeymoon phase after a short time, then
		I get stressed out, battling to maintain that happy, positive outlook anymore. How can we stay in the game for the long term and not
		throw in the towel?
	</blockquote>
	<p>
		I constantly wonder if this is what I should be doing, constantly question everything, and constantly ask if there’s
		a better way to get things done. It’s good to think about that stuff because sooner or later, after building up some trust and experience,
		you’ll have influence on it. That’s a big benefit of sticking around. It’s something to look forward to.
	</p>
	<p>
		Burnout isn’t a singular event, it’s a process. And for me, it’s a one-way process. Once I burn out on something, that’s it. I don’t get
		un-burned-out. There’s no recovery. A couple days off helps, but it doesn’t make me want to hop back in and keep up what I was doing. 
		Off-time just makes me realize how much what I was doing sucked.
	</p>
	<p>
		The best I’ve been able to do to fight burnout is to constantly evolve and change my role and the challenges I face at the agency.
		Thankfully, as an agency, projects come and go quickly. RTO+P is excellent at letting people the agency trusts fill the roles
		they want to fill, which is great. This, more than anything, has kept me around much longer than if I was held to the role I was 
		hired for. It’s a super-privileged situation that most people don’t have, and I’m really grateful for that. If you’re like me, try 
		to find a company that lets people with fluid skills and interests be fluid employees.
	</p>
	
</section>


<%= render partial: 'shared/blog_list' %>
