<% content_for :logo do %>
	<%= image_tag 'blog/selling-stuff-online.gif', class: 'blog' %>
<% end %>
<% content_for :title do %>
	How much does it cost to sell stuff online?
<% end %>

<h1>How much does it cost to sell stuff online?</h1>
<span class="dateline">November 11, 2015</span>

<section class="body">
	<p class="headless">
		In another few weeks I'm going to be selling a few mechanical watches that I've been putting together this month. Yes, that's a thing I've been 
		doing. It's fun! It's the second set of watches that I'll be selling online, but it's the first that I'll need my own storefront for.
		To help me (and you) out, I've collected info on the fees associated with selling goods in an online store using 8 of the most popular services 
		out there today. Turns out it can be pretty expensive to sell stuff online (if you don't do your research). 
	</p>
	
	<h2>The Constants</h2> 
	<p>
		Every well-formed experiment involves choosing variables and constants to test against. In this experiement, the constants are the
		number of watches I'm selling (6), the price I'm selling each ($230), and the number of months I expect my store to be "open" (2). 
		I've chosen month-to-month plans for each provider given that I don't expect the store to be up too long. I have not factored 
		shipping costs into any of these estimates. I'm not putting any value in site building tools or templates (which many services offer), 
		since I can do all that work myself, if needed. With these constants given, I can calculate each service's fees. 
	</p>
	
	<h2>
		The Services
	</h2>
	
	<h4>
		Ebay
	</h4>
	<p>
		Ebay, the old mainstay. Probably great for selling junk out of your basement, since their search engine will help your stuff be
		discovered. I'd venture that it's not so great for selling anything else. I used the Ebay fee calculator that is provided on their
		website to estimate the fees for selling (via "Buy it now") each watch at $230. The fees wound up totaling a full 10% of each sale, <strong>$23 
		per piece, and $138 to sell all six.</strong> Insanely expensive. 
	</p>
	
	<h4 class="headless">
		Squarespace Business Website
	</h4>
	<p>
		Squarespace was my first thought when I was looking into storefronts online. It goes to show how good their marketing has been! 
		Unfortunately, they wind up being among the most expensive options for running a basic online storefront. Squarespace Business 
		Websites cost $26 month-to-month, which allows for up to 25 products (many more than I need). Their transaction fee is 2%, and their
		credit card processing fee is 2.9% + $0.30 per transaction. All those fees pile up in to the second-highest total here: <strong>
		$20.23 per watch, and $121.42 for all six pieces.</strong> I'll pass.
	</p>
	
	<h4 class="headless">
		Squarespace Basic Store
	</h4>
	<p>
		Squarespace also offers a specific tier of pricing for online stores. The main benefit this provides is that, compared to the "Website"
		plans they offer, "Store" plans do not charge a transaction fee. However, credit card fees still are charged (the standard 2.9% + $0.30 per), 
		not to mention the pricer month-to-month subscription fee of $30. <strong>Spreading those fees over the six watches I'll sell, each 
		will cost me $16.97, for a total of $101.82.</strong> It's lower than the previous Squarespace plan but still higher than I'd like.
	</p>

	<h4 class="headless">
		Shopify
	</h4>
	<p>
		I used Shopify a few years back when I was selling t-shirts online. Its fee structure is nearly identical to the previous Squarespace 
		store but with a slighly cheaper monthly plan: $29/mo instead of $30/mo. As such the totals are similar: <strong>$16.64 per piece, 
		$99.82 total.</strong>
	</p>
	
	<h4 class="headless">
		Etsy
	</h4>
	<p>
		Etsy's pricing is very different from the subscription services above. It takes a flat $0.20 fee for listing a product in your store
		(the listing stays live for 4 months). There's no monthly fee to operate a store on Etsy. However, it does charge both transaction
		and processing fees, totaling 6.5% + $0.25 per transaction. Since I'd be listing two different watch "SKUs", my listing fee is $0.40. 
		Not bad. But the high percentage on each transaction boosts the cost to a fairly high figure: <strong>$15.20 per watch, $91.20 
		total.</strong> Etsy does have a great discovery tool in its search, but I'm not sure it's worth that much per piece, for me.
	</p>

	<h4 class="headless">
		Gumroad
	</h4>
	<p>
		A number of my friends, illustrators and artists by trade, sell their work with Gumroad. Originally Gumroad was built to sell digital 
		goods – ebooks, files, etc. – but they've since added the ability to sell physical goods. Fees are the same for both physical and
		digital goods: 5% + $0.25 per transaction. There's no monthly fee, <strong>making the per-piece cost $11.75, $70.50 overall.</strong>
		Now we're getting somewhere. I could live with that number.
	</p>
	
	<h4 class="headless">
		Selz
	</h4>
	<p>
		Selz is super similar to Gumroad; it can be used to sell both digital and physical goods, and their pricing is nearly the same. Selz
		takes a 2% transaction fee and charges a 2.9% + $0.30 processing fee on each transaction. Put together, it's almost exactly what 
		Gumroad charges: <strong>$11.57 per piece, $69.42 total.</strong> Your preference between Gumroad and Selz is mainly that of taste.
		Both seem well designed. 
	</p>
	
	<h4 class="headless">
		Big Cartel
	</h4>
	<p>
		This one surprised me. I looked into Big Cartel when I was selling t-shirts and they were more expensive than Shopify. But now, they
		offer a free service tier (other tiers have month-to-month charges) for a basic storefront with no transaction fees and the standard
		2.9% + $0.30 per transaction payment processing fee. <strong>This brings the fees per piece down to a staggeringly low $6.97, for a 
		total of $41.82 for all six pieces.</strong> The features offered by their free tier are limited, but for a basic store this is a
		great option.
	</p>
	
	<h4 class="headless">
		Square
	</h4>
	<p>
		Spoiler: Square (you know, the company that makes those swiveling iPad POS systems that you use to pay for your iced coffee) is the 
		clear price winner. It lets you create an account (free), add inventory, and put it for sale in an nice, surprisingly feature-rich 
		storefront. All they charge is a 2.75% processing fee. No transaction fee. <strong>That calculates out to $6.33 per piece, or $37.95 all
		together.</strong> I think this is what I'll be using. With this fee structure Square will almost universally be the cheapest 
		option among ecommerce platforms online; it will cost less than half as much as the four most expensive options on this list. 
	</p>
	
	<h2>Other Considerations</h2>
	<p>
		This post reflects my own fairly narrow case: I'm looking for somewhere to sell a relatively high-priced item in low quantities. 
		If you're selling lots of less-pricey things, I'd encourage you to do the math on your own to figure out your costs. And there's 
		also some other things to consider, like what types of payment you'd like to accept. For example, Square doesn't accept Paypal (but 
		Big Cartel does). Not every service can take international payments, and some charge more for currency conversion if they do. Some
		don't allow for you to sell digital goods, while others do. And some have some powerful tools included that you may or may
		not need (like Squarespace's robust website tools).
	</p>
	
	<p>
		I hope this post helped to show the fee structures of today's most popular ecommerce services, so you can save more of your 
		well-earned money for doing things other than paying to sell your stuff. Thanks for reading!
	</p>
</section>


<%= render partial: 'shared/selected_list' %>