<% content_for :logo do %>
	<%= image_tag 'blog/things-i-like.gif', class: 'blog' %>
<% end %>
<% content_for :title do %>
	Things I Like
<% end %>

<h1>Things I Like</h1>
<span class="dateline">October 6, 2014</span>

<section class="purpose">
	<h2>Purpose</h2>
	<p>
		Screw negativity. There’s too much of that happening right now and I don’t want to throw another log on the internet’s collective
		razing of just-about-everything. Instead, I want to highlight some things I like and offer some ideas that could make them even
		better.
	</p>
</section>

<section class="body">
	<h4 class="headless">Thing 1:</h4> 
	<h2 class="subheaded">iPhone 6+ <small>by Apple</small></h2> 
	<p>
		I don’t regret upgrading to the gigantic iPhone 6+. It’s the perfect size to sit on your lap and watch a quick video, or sit on the
		counter and show a recipe. I got the “official” Apple leather case, and with it, it’s not slippery and the thickness is just right. 
		My fingers prefer the rounded edges to the iPhone 5’s “chamfer” and the 4’s “Leica” quality. Earlier this week, I didn’t charge it for 2.75
		days, which is somewhat incredible. Yes, it fits in my pocket. No, it hasn’t bent.
	</p>
	<p>
		My only gripe is the loss of one-handed typing. It’s a pretty big loss, too. I’m considering making / I’d like for someone to make 
		something like this to alleviate the issue: 
	</p>
	<%= image_tag 'blog/things_i_like_pt_1/switchboard.jpg' %>
	<p> 
		That’s a keyboard for the 6+ that matches the original iPhone keyboard in size, and orients itself 
		to whichever thumb of you’re typing with. I imagine you’d double-tap the blank area to switch the keyboard to the left or right. I’m not sure if 
		any of that’s possible, but I’d pay a buck or two for it if it was.
	</p>
	
	<h4 class="headless">Thing 2:</h4> 
	<h2 class="subheaded">Destiny’s UI <small>by Bungie</small></h2> 
	<p>
		<em>Destiny</em> has got me, hard. Excellent mechanics, encounters, and graphics (even on “last-gen” Xbox 360, which I’m playing on). 
		But I’m not going to talk about the game as a whole, because it’s been discussed thoroughly elsewhere and I’ve really got nothing to 
		add. Instead, I <em>would</em> like to take a moment to appreciate the UX design in the game. The mouse-like cursor that the UI relies
		upon took some getting used to, but I now prefer it to more traditional console controls. In-game menus look great and are mostly useful,
		though there are some common cases where I wish it had some more depth (for instance, being able to sort gear by level or strength would
		be hugely useful, and its absence is even more acute when moving gear between your character and your “Vault” inventory). The UX is
		helped by a simplified-but-still-deep array of character and gear stats that are well visualized and which suit the FPS genre and
		“lean back” console environment perfectly.
	</p>
	<div class="video-container">
		<iframe width="560" height="315" src="//www.youtube.com/embed/m_uNJqTjjvU?start=71&controls=0" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<h4 class="headless">Thing 3:</h4> 
	<h2 class="subheaded">i <small>by Kendrick Lamar</small></h2> 
	<p>
		Kendrick’s new single floats somewhere between Santana guitar riffs, Macklemore cowbell, and Big Boi flow, and I pretty much love it.
		The world is a crazy place and everyone’s dealing with it. If you’re going to get anywhere, you’ve got to believe in yourself. I
		can dig it. And I can’t wait for the full record. good kid M.A.A.D city has been my most-listened-to record each month
		since it was released. Two years ago.
	</p>
	<iframe height="100" src="https://rd.io/i/QV1B1SIUeh8/" frameborder="0"></iframe>
	
	<h4 class="headless">Thing 4:</h4> 
	<h2 class="subheaded">The Ello Manifesto</h2> 
	<p>
		Whether or not Ello is realistically positioned to be what it aims to be – a social network freed from advertisers – their manifesto
		is a convincing rejection of our social status quo.
	</p>
	<blockquote>
		We believe a social network can be a tool for empowerment. Not a tool to deceive, coerce and manipulate — but a place to connect,
		create and celebrate life.
	</blockquote>
	<p>
		There’s <em>tons</em> of room for improving our lives online, especially on social networks. Right now, in its beta state, Ello’s
		not improving on anything besides the whole no-ads thing. But here’s to hoping they’re thinking creatively and seriously about how
		things could be better. My short wishlist: slow (as in “slow web”) notifications, removing view counts, and a more natural
		conversation UI.
	</p>
	
	<h4 class="headless">Thing 5:</h4> 
	<h2 class="subheaded">Grilling and Drinking Beers in Prospect Park</h2> 
	<p>
		Really, there’s just nothing better. Grab a blanket and a little portable grill (I use a 
		<a href="http://www.amazon.com/gp/product/B00004RALL/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00004RALL&linkCode=as2&tag=altifier-20&linkId=7AATQCPNET6V3ZHU">Weber Smokey Joe Silver</a>),
		some grub, and whatever brews suit the season. Today it was Brooklyn Brewery’s Post Road Pumpkin Ale. Haul it all over to one of 
		Prospect Park’s designated BBQ-friendly areas and have a day. Oh, and bring friends. The more the better.
	</p>
	<figure>
		<%= image_tag 'blog/things_i_like_pt_1/grill-zone.jpg' %>
		<figcaption>Primo grilling zone indicated by the “entirely out-of-control grill” icon
	</figure>
	<p>
		Tips to enhance your experience: keep your brews in plastic cups so you don’t get harassed by the police while they – <em>ahem</em> –
		<a href="http://gothamist.com/2014/07/28/de_blasio_broken_windows_policing_i.php">fix up the broken windows</a>. Grill now and soon 
		because, apparently, <a href="http://www.brownstoner.com/blog/2014/07/neighbors-want-to-ban-barbecues-in-prospect-park/">some evil people 
		don’t want you to anymore</a>. Always use potato buns. Hot Dogs with green apple slices and kimchi on them taste great.
	</p>
	
</section>


<%= render partial: 'shared/blog_list' %>