<% content_for :logo do %>
	<%= image_tag 'blog/urls.gif', class: 'blog' %>
<% end %>
<% content_for :title do %>
	For the Love of the URL
<% end %>

<h1>For the Love of the URL</h1>
<span class="dateline">May 20, 2014</span>

<section class="purpose">
	<h2>Purpose</h2>
	<p>
		URLs shouldn&rsquo;t be obfuscated, as Google seems to think they ought to be (<a href="http://venturebeat.com/2014/05/01/google-says-goodbye-to-urls-in-new-chrome-canary-update/">context</a>). If we want to be heard, right now seems like the time
		when we should speak up and oppose the change.
	</p>
</section>

<section class="body">

	<h2>Suggested Reading</h2>
	<p>
		First, some <a href="http://adactio.com/journal/6786/">really</a>
		<a href="http://ntlk.net/2014/05/05/chrome-obfuscates-the-urls/">smart</a> <a href="http://tommorris.org/posts/8904">people</a>
		have already put together some really thoughtful posts that touch all the truly important points of concern: security, power, and
		usability. You should read up if you haven&rsquo;t.
	</p>
	<p>
		My contribution to the URL discussion is to just highlight two simple points.
	</p>
	
	<h2>Point 1: Most URLs Suck</h2>
	<p>
		Take this one, for example. It&rsquo;s the URL that appears when you click on the &ldquo;New York&rdquo; section of <em>The New
		York Times</em> website, from the homepage:
	</p>
	<pre>http://www.nytimes.com/pages/nyregion/index.html?module=HPMiniNav&contentCollection=New%20York&pgtype=Homepage&‌‌region=TopBar&action=click&t=qry176</pre>	
	<p>
		Or this one, an article on Medium by <a href="http://twitter.com/robicellis">Alison Robicelli</a>, who makes super delicious
		cupcakes down the street from me.
	</p> 
	<pre>https://medium.com/the-chefs-table/887b83765ca8</pre>
	<p>
		Or this Dribbble shot from my good friend <a href="http://wheninshenzhen.com/">Rob Marshbank</a>.
	</p>
	<pre>https://dribbble.com/shots/1387927-Self-Portrait?list=users&offset=2</pre>
	
	<p>
		These websites are well designed and take their user experience seriously, so it&rsquo;s a shame that URL formatting is not handled
		with the same level of grace and consideration.
	</p>
	<p>
		Should URLs like the above be obfuscated? <strong>Yeah, probably.</strong> There are both practical and technical challenges that 
		make human-friendly URLs more difficult to pull off than, uh, robo-friendly URLs. But those challenges aren&rsquo;t insurmountable. 
		It should be a concern.
	</p>
	
	<h2>Point 2: Some URLs Don&rsquo;t Suck</h2>
	<p>
		URLs can be expressive parts of a website that give a lot of info in a small amount of space. Just imagine if the URLs above were
		planned and executed nicely:
	</p>
	<pre>https://nytimes.com/new-york
https://medium.com/robicellis/romance-the-hard-way
https://dribbble.com/marshbank/self-portrait</pre>
	<p>
		<em>So. Much. Better.</em> These would be clear, concise, rememberable, readable URLs.
	</p>
	<p>
		I love when URLs lend some character and quirk to the page they identify. Like when you loaded this page 
		(<a onclick="window.location.href=window.location.href">reload it</a>, watch the URL bar).
		Another good example is <a href="http://jessicahische.is/">Jessica Hische&rsquo;s site</a>. She makes a fun play on her
		&ldquo;.is&rdquo; TLD.
	</p>
		<pre>http://jessicahische.is/working
http://jessicahische.is/thinkingthoughts
http://jessicahische.is/heretohelp</pre>
	<p>
		Should URLs like these be obfuscated? <strong>Hell no.</strong> They&rsquo;re characteristic, expressive, and they add context 
		and value (bad word, sorry) to the pages they&rsquo;re identifying.
	</p>
	
	<h2>So, Uh, Conclusion</h2>
	<p>
		I hope they don&rsquo;t kill the not-sucky URLs. They&rsquo;re cool. I like them. It would be nice to find a 
		middle ground solution, because sucky URLs will always exist. We shouldn't have to sacrifice the good ones so the bad ones can 
		continue their march into ugliness. It would help if more people paid attention to URL formatting in their work.
	</p>
	<p>
		It&rsquo;s weird to write a blog post opposing a giant and mostly faceless company. But you should do the same if you also oppose 
		the URL change. Or any other change.
	</p>
	
</section>

<%= render partial: 'shared/selected_list' %>
