#blog {
	h1 {
		margin-bottom: 0;
	}
	
	span.dateline {
		@include font(body);
		margin: 0 0 2.5rem 0;
		display: block;
		color: $header_color;
		font-size: 1.6rem;
	}
}

#mirror-video {
	display: none;
}

#mirror-canvas {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
}