#blog {
	h1 {
		margin-bottom: 0;
	}
	
	span.dateline {
		@include font(body);
		margin: 0 0 2.5rem 0;
		display: block;
		color: $header_color;
		font-size: 1.6rem;
	}
}

#mirror-video {
	display: none;
}

#mirror-canvas {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
}

.blog-header {
	margin-top: 140px;

	img {
		width: 100%;
	}

	figure {
		margin: 0 0 1.5rem 0;
		text-align: right;
		color: $secondary_text_color;
		@include font(body);
	}

	figcaption {
		font-size: 1.2em;

		a {
			color: $secondary_text_link_color;
		}
	}
}