@mixin font($face) {
	@if $face == "body" {
	    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", "athelas-1","athelas-2", "freight-text-pro-1","freight-text-pro-2", serif;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
	}
	@if $face == "karla" {
		font-family: 'Karla', sans-serif;
	}
}