@font-face {
    font-family: 'mantekaregular';
    src: url('manteka_1-webfont.eot');
    src: url('manteka_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('manteka_1-webfont.woff') format('woff'),
         url('manteka_1-webfont.ttf') format('truetype'),
         url('manteka_1-webfont.svg#mantekaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}