@mixin font($face) {
	@if $face == "body" {
	    font-family: "franklin-gothic-urw-1","franklin-gothic-urw-2", 'Helvetica Neue', Arial, sans-serif;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
	}
	@if $face == "headline" {
		font-family: "Karla", 'Helvetica Neue', Arial, sans-serif;
	}
}