// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-size: 18px;
}	

#container {
	width: 88%;
	margin: 0 auto;
}

header {
	h1 {
		text-align: center;
		font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
		font-weight: normal;
		font-size: 1.9em;

	}

	h2 {		
		text-align: center;
		font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
		font-size: 1.3em;
	}
	
	img {
		display: block;
		margin: 0 auto;
		width: 50%;
		height: 50%;
	}
}

p {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	margin-bottom: 1em;
	a {
		color: #db5f6c;
		text-decoration: none;
		&:hover {
			color: rgb(59, 0, 71);
		}
	}	
}

hr {
	width: 5em;
	background-color: #bbb;
	height: 1px;
	border: none;
	margin-top: 1.2em;
	display: block;
}

nav {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	text-align: center;
	background: rgb(59, 0, 71);
	background: -moz-linear-gradient(20deg, rgb(59, 0, 71) 30%, rgb(112, 201, 233) 100%);
	background: -webkit-linear-gradient(20deg, rgb(59, 0, 71) 30%, rgb(112, 201, 233) 100%);
	background: -o-linear-gradient(20deg, rgb(59, 0, 71) 30%, rgb(112, 201, 233) 100%);
	background: -ms-linear-gradient(20deg, rgb(59, 0, 71) 30%, rgb(112, 201, 233) 100%);
	background: linear-gradient(110deg, rgb(59, 0, 71) 30%, rgb(112, 201, 233) 100%);
	
	div.in {	
		padding: .3em;
		background-image: url('/assets/top-bg.png');
	}
	
	a {
		display: block;
		color: #ddd;
  		font-family: "ff-netto-web-1","ff-netto-web-2";
		text-transform: uppercase;
		text-decoration: none;
		padding: 1em .5em .8em .5em;
		letter-spacing: 1px;
		
		&:hover {
			color: #fff;
			
		}
	}
}


// 480px & Up
@media only screen and (min-width: 480px) {
	#container {
	}
	body {
		font-size: 20px;
	}
	header {
		h1 { font-size: 2.1em; }
		h2 { font-size: 1.7em; }
	}
}

// 600px & Up
@media only screen and (min-width: 600px) {
	body {
		font-size: 20px;
	}
	header {
		h1 { font-size: 2.1em; }
		h2 { font-size: 1.7em; }
	}
	#container {
		width: 600px;
	}
	nav {
		a {
			display: inline-block;
		}
	}
}

// 768px & Up
@media only screen and (min-width: 768px) {
	body {
		font-size: 25px
	}
	header {
		h1 { font-size: 1.9em; width: 708px; margin: .7em auto; }
		h2 { font-size: 1.6em; width: 708px; margin: .7em auto; }
		img {
			width: 35%;
			width: 35%;
		}
	}
	#container {
		width: 700px;
	}
}

// 992px & Up
@media only screen and (min-width: 992px) {
	#container {
		width: 860px;
	}
	header {
		img {
			width: 35%;
			width: 35%;
		}
	}
}

// 1382px & Up
@media only screen and (min-width: 1382px) {
	// @import "1382";
}
