$body_background_color: #FFFFFF;
$body_text_color: #575757;
$body_link_color: #5E8DBB;
$body_link_hover_color: #222;

$header_color: #4F5C69;

$highlight_text_color: #3B3B3B;
$secondary_text_color: #BBB;

$sidebar_text_color: #979797;
$sidebar_link_color: #8D8C88;

$purpose_background: #FDFDFE;
$purpose_border: #F7F7F7;

$pre_background_color: #222;
$pre_text_color: #F4E8E7;

$blockquote_text_color: #888;
$blockquote_icon_color: #CCC;

$small_header_text_color: #888;

$key_link_color: #666;
$key_link_hover_color: #999;

$divider_color: #E8E8E8;

$blog_list_border_color: #F5F5F5;