$header_color: #4f5c69;
$body_text_color: #666666;
$highlight_text_color: #3B3B3B;
$secondary_text_color: #BBBBBB;

$sidebar_text_color: #979797;
$sidebar_link_color: #8D8C88;

$purpose_background: #FDFDFE;
$purpose_border: #F7F7F7;