<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Aaron Grando - Man of the Internet</title>
		<meta name="description" content="I'm Aaron Grando. I'm a web designer and developer. I create websites that help people reach their goals.">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/assets/yo.png"> 
		<link rel="apple-touch-icon-precomposed" href="/assets/touchicon.jpg" />

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<script type="text/javascript" src="//use.typekit.net/tgv7mqo.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
    </head>
    <body>
        <!-- Add your site or application content here -->
		<nav>
			<div class="in"></div>
		</nav>
		<div id="container">
        	<%= yield %>
        </div>
		<nav>
			<div class="in">
				<a href="http://twitter.com/grrrando">@grrrando</a>
				<a href="http://redtettemer.com">Red Tettemer + Partners</a>
				<a href="http://whatsay.co">What Say Co.</a>
			</div>
		</nav>
		<script>
            var _gaq=[['_setAccount','UA-12672794-2'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
